.winery-content a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #d2a679;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.winery-content a:hover {
    background-color: #b8935b;
}

.booking-info a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #d2a679;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}
.info-section a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #d2a679;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.booking-info a:hover {
    background-color: #b8935b;
}
