@media (min-width: 1025px) {
    .text-image-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 20px;
        padding: 2vw 0;
    }


    .text-content, .content-image {
        width: 70%;
    }


    .container {
        padding: 3rem 9rem 3rem;
        margin: 2rem 12rem;
    }

    body {
        font-size: 22px; /* Increase font size for desktop */
    }
    body h4{
        font-size: 3.5rem;
    }
    .text-image-wrapper .content-image {
        order: -1;
        width: 50%;
        height: auto;
        border-radius: 8px;
    }

    .room-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 2rem 2rem 6rem 2rem;
    }

    .room-content {
        flex: 1;
        max-width: 45%;
        margin-right: 20px;
        min-width: 300px;
    }

    .room-content ul {
        list-style-type: disc; /* Ensures bullet points are shown */
        padding-left: 20px; /* Adds some padding to the left */
    }

    .room-content ul li {
        margin-bottom: 10px;
    }

    .room-image {
        flex: 1;
        max-width: 50%;
        min-width: 300px;
    }

    .room-image img {
        width: 100%;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .reverse-layout {
        flex-direction: row-reverse; /* Reverses the order of image and content */
    }

    .winery {
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-start;
        margin-bottom: 3rem;
    }

    .winery-logo {
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
        max-width: 300px; /* Ensure the logo has a reasonable size */
    }

    .winery-logo img {
        width: 100%;
        height: auto;
        max-width: 300px; /* Ensure the logo has a reasonable size */
        border-radius: 8px;
    }

    .winery-content {
        flex: 1 1 auto;
    }

    .booking-info {
        text-align: center;
        margin: 40px 0;
        font-size: 1.2em;
    }
    .booking-policies p {
        margin-bottom: 4rem;
    }
    .booking-policies ul {
        margin-bottom: 4rem;
        padding-left: 20px;
    }

    .booking-policies ul li {
        margin-bottom: 1rem;
        list-style: disc;
    }
    .booking-policies ul li::marker {
        color: #d2a679; /* Change this to your desired bullet color */
        font-size: 1.2em; /* Adjust the size if necessary */
    }
    .house-location ul li::marker{
        color: #d2a679; /* Change this to your desired bullet color */
        font-size: 1.2em; /* Adjust the size if necessary */
    }

    .house-location {
        list-style-type: none;
        padding: 0;
        margin: 1.5rem 0; /* Add space above and below the list */
        text-align: left; /* Ensure the text is aligned left for readability */
        width: 100%; /* Ensure it takes the full width of the container */
        max-width: 700px; /* Set a max-width for better readability */
    }

    .container-maps {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3rem 9rem 3rem;
        margin: 2rem 12rem;
    }


    .transportation-option {
        margin-bottom: 1rem;
    }

    .transportation-option p {
        margin: 1rem 0;
    }
    .transportation-option h3{
        margin: 2rem 0;
    }

    .transportation-option ul {
        list-style-type: disc;
        padding-left: 20px;
    }

    .transportation-option ul li {
        margin: 5px 0;
    }
    .transportation-option ul li::marker{
        color: #d2a679; /* Change this to your desired bullet color */
        font-size: 1.2em; /* Adjust the size if necessary */
    }
.page-heading{
    text-align: center;
}

}
