@media (min-width: 1025px) {
    .text-image-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 20px;
        padding: 2vw 0;
    }


    .text-content {
        width: 50%; /* Ensure text content takes up 50% */
        padding-left: 20px; /* Add some space between text and image */
    }

    .content-image {
        width: 50%; /* Ensure image takes up 50% */
        height: auto;
        border-radius: 8px;
    }


    .container {
        padding: 3rem 9rem 3rem;
        margin: 2rem 20rem;
    }

    body {
        font-size: 22px; /* Increase font size for desktop */
    }

    .text-image-wrapper .content-image {
        order: -1;
        width: 50%;
        height: auto;
        border-radius: 8px;
    }

    .room-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 2rem 2rem 6rem 2rem;
    }

    .room-content {
        flex: 1;
        max-width: 45%;
        margin-right: 20px;
        min-width: 300px;
    }

    .room-content ul {
        list-style-type: disc; /* Ensures bullet points are shown */
        padding-left: 20px; /* Adds some padding to the left */
    }

    .room-content ul li {
        margin-bottom: 10px;
    }

    .room-image {
        flex: 1;
        max-width: 50%;
        min-width: 300px;
    }

    .room-image img {
        width: 100%;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .reverse-layout {
        flex-direction: row-reverse; /* Reverses the order of image and content */
    }

    .winery {
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-start;
        margin-bottom: 3rem;
    }

    .winery-logo {
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
        max-width: 300px; /* Ensure the logo has a reasonable size */
    }

    .winery-logo img {
        width: 100%;
        height: auto;
        max-width: 300px; /* Ensure the logo has a reasonable size */
        border-radius: 8px;
    }

    .winery-content {
        flex: 1 1 auto;
    }

    .booking-info {
        text-align: center;
        margin: 40px 0;
        font-size: 1.2em;
    }

    .booking-policies p {
        margin-bottom: 4rem;
    }

    .booking-policies ul {
        margin-bottom: 4rem;
        padding-left: 20px;
    }

    .booking-policies ul li {
        margin-bottom: 1rem;
        list-style: disc;
    }

    .booking-policies ul li::marker {
        color: #d2a679; /* Change this to your desired bullet color */
        font-size: 1.2em; /* Adjust the size if necessary */
    }

    .house-location ul li::marker {
        color: #d2a679; /* Change this to your desired bullet color */
        font-size: 1.2em; /* Adjust the size if necessary */
    }

    .house-location {
        list-style-type: none;
        padding: 0;
        margin: 1.5rem 0; /* Add space above and below the list */
        text-align: left; /* Ensure the text is aligned left for readability */
        width: 100%; /* Ensure it takes the full width of the container */
        max-width: 700px; /* Set a max-width for better readability */
    }

    .transportation-option {
        margin-bottom: 1rem;
    }

    .transportation-option p {
        margin: 1rem 0;
    }

    .transportation-option h3 {
        margin: 2rem 0;
    }

    .transportation-option ul {
        list-style-type: disc;
        padding-left: 20px;
    }

    .transportation-option ul li {
        margin: 5px 0;
    }

    .transportation-option ul li::marker {
        color: #d2a679; /* Change this to your desired bullet color */
        font-size: 1.2em; /* Adjust the size if necessary */
    }

    .page-heading {
        text-align: center;
    }


    .intro-section,
    .list-section {
        margin: 2rem 0;
        text-align: center;
    }

    .map-container {
        position: relative;
    }

    .map-number {
        position: absolute;
        width: 2.3vw;
        height: 2.3vw;
        background-color: #d2a679;
        border-radius: 50%;
        text-align: center;
        line-height: 2.3vw;
        cursor: pointer;
        font-weight: bold;
        border: 1px solid #fafafa; /* Optional: Add a border for better visibility */
        transform: translate(-50%, -50%);
        color: white;
    }

    .map-number:nth-of-type(1) {
        top: 33%;
        left: 10%;
    }

    .map-number:nth-of-type(2) {
        top: 42%;
        left: 18%;
    }

    .map-number:nth-of-type(3) {
        top: 47%;
        left: 23%;
    }

    .map-number:nth-of-type(4) {
        top: 34.5%;
        left: 35.5%;
    }

    .map-number:nth-of-type(5) {
        top: 35.5%;
        left: 49.5%;
    }

    .map-number:nth-of-type(6) {
        top: 23%;
        left: 58.5%;
    }

    .map-number:nth-of-type(7) {
        top: 27%;
        left: 57%;
    }

    .map-number:nth-of-type(8) {
        top: 29%;
        left: 60%;
    }

    .map-number:nth-of-type(9) {
        top: 39.5%;
        left: 67.5%;
    }

    .map-number:nth-of-type(10) {
        top: 56%;
        left: 69%;
    }

    .map-number:nth-of-type(11) {
        top: 51%;
        left: 85%;
    }

    .map-number:nth-of-type(12) {
        top: 56%;
        left: 85.5%;
    }

    .favourites-list {
        list-style: none;
        padding: 0;
        text-align: left;
    }

    .favourites-list div {
        margin: 1rem 0;
    }

    .favourites-list h3 {
        margin: 0.5rem 0;
        font-size: 1.5rem;
    }

    .favourites-list p {
        margin: 0;
        color: #666;
    }
    .intro-section-lake,
    .activities-section {
        margin: 2rem 0;
        text-align: left;
    }

    .activity {
        margin-bottom: 1.5rem;
    }
    .events{
        margin: 0;
        padding: 1rem 0;
    }
    .cities{
        margin: 2rem 0;
    }

    .hint-section h5{
        text-align: center;
        padding: 0;
        margin: 0;
    }
    .intro-section-lake h3{
        text-align: center;
        font-size: 3rem;
    }
    .activity h4{
        font-size: 2.5rem;
        margin: 2rem 0 1rem 0;
    }
    .title h2{
        text-align: center;
    }
    .intro-section-lake h3{
        text-align: center;
    }
}
