@media (min-width: 1025px) {
    .text-image-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 20px;
        padding: 2vw 0;
    }


    .text-content, .content-image {
        width: 70%;
    }


    .container {
        padding: 3rem 9rem 3rem;
        margin: 0 9rem;
    ;
    }
    body {
        font-size: 18px; /* Increase font size for desktop */
    }

    .text-image-wrapper .content-image{
        order: -1;
        width: 50%;
        height: auto;
        border-radius: 8px;
    }
}
