@media (min-width: 1025px) {
    .text-image-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 20px;
        padding: 4vw 0;
    }


    .text-content, .content-image {
        width: 70%;
    }


    .container {
        padding: 5rem 12rem 5rem;
        margin: 0 12rem;
    ;
    }
    body {
        font-size: 20px; /* Increase font size for desktop */
    }

    .text-image-wrapper .content-image{
        order: -1;
        width: 50%;
        height: auto;
    }
}
