/* Dropdown button styles */

/* Common dropdown content styles */
.dropdown-content {
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: calc(100% - 32px); /* Adjust width to account for padding */
    position: absolute;
    padding: 0;
    border-radius: 10px;
    left: -32px; /* Move to the left to align with the li */
}

/* Dropdown arrow */
.dropdown-content::before {
    content: "";
    position: absolute;
    top: -0.3rem;
    left: 32px; /* Center the arrow */
    width: 1rem;
    height: 1rem;
    background-color: #f9f9f9;
    transform: translateX(-50%) rotate(45deg);
}

/* List styles for dropdown content */
.dropdown-content li {
    padding: 12px 16px 12px 16px;
    list-style: none;
    border-bottom: 1px solid #9a8888;
    display: block;
    width: 100%;
}

.dropdown-content li:last-child {
    border-bottom: none;
}

.dropdown-content li a {
    display: block;
    width: 100%;
    padding: 8px 16px;
    text-decoration: none;
    color: #333;
}

.dropdown-content li:hover {
    background-color: #f1f1f1;
}

/* Subcontent for nested dropdowns */
.dropdown-subcontent {
    display: none;
    padding-left: 1rem;
}

details summary {
    padding: 12px 16px; /* Ensure summary padding matches dropdown items */
    cursor: pointer;
    display: flex;
    align-items: center;
}

details[open] > .dropdown-subcontent {
    display: block;
}

.navigation-header-mobile .dropdown-content {
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    transform: none; /* Reset transform for mobile */
    padding: 0;
    z-index: 1000; /* Ensure it appears above other content */
    top: 100%; /* Position it below the header */
}

.navigation-header-mobile .dropdown-subcontent {
    display: none;
    padding-left: 1rem;
}
details[open] > .dropdown-subcontent {
    display: block;
}

@media (max-width: 767px) {
    .navigation-header-mobile .dropdown-content {
        left: 0;
    }
    .dropdown-content::before {
        display: none;
    }
}
