/* Dropdown button styles

/* Common dropdown content styles */
.dropdown-content {
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    top: 100%;
    width: 50%;
    position: absolute;
    padding: 0;
    border-radius: 10px;

}


/* Desktop-specific dropdown content styles */
.navigation-header .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
}

.navigation-header .dropdown:hover .dropdown-content {
    display: block;
}

/* List styles for dropdown content */
.dropdown-content li {
    padding: 12px 16px 12px 16px;
    list-style: none;
    left: 0;
    border-bottom: 1px solid;
    border-bottom-color: #9a8888;
    display: block;
    width: 100%;

}
.dropdown-content li:last-child {
    border-bottom: none;
}

.dropdown-content li a {
    display: block;
    width: 100%;
    padding: 12px 16px;
    text-decoration: none;
    color: #333;
}

.dropdown-content li:hover {
    background-color: #f1f1f1;
}

/* Subcontent for nested dropdowns */
.dropdown-subcontent {
    display: none;
    padding-left: 1rem;
}


details[open] > .dropdown-subcontent {
    display: block;
}

/* Mobile-specific dropdown content styles */
.navigation-header-mobile .dropdown-content {
    display: block;
}

.navigation-header-mobile .dropdown-subcontent {
    display: none;
    padding-left: 1rem;
}

details[open] > .dropdown-subcontent {
    display: block;
}

details summary {
    margin: 0;
    padding: 0; /* Match padding with other li items */
    cursor: pointer;
    display: flex;
    align-items: center; /* Vertically center the text */
    justify-content: space-between; /* Align arrow to the right */
}

@media (max-width: 767px) {
    .navigation-header-mobile .dropdown-content {
        left: 0;
    }
}