.main-container {
    width: 100%;
    margin: 0 auto;
}

.hero-image-wrapper {
    position: relative;
    width: 100%;
    height: 70vh; /* Make it full screen height */
    overflow: hidden;
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.hero-image-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1); /* Semi-transparent black */
    z-index: 1;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 2; /* Ensure text is above the overlay */
}

.hero-text h1 {
    font-size: 6rem;
    margin: 0;
    color: white;
}

.hero-text p {
    font-size: 2rem;
    margin: 3rem 0 0;
    font-family: 'Seasons', serif;
}

.info-section, .info-section-reverse {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    margin: 3rem auto;
    overflow: hidden; /* Ensure content doesn't overflow */
    gap: 2rem;
    max-width: 90rem;
}

.info-section-reverse {
    flex-direction: row-reverse;
}

.info-text {
    flex: 1;
    box-sizing: border-box;
}

.info-image {
    flex: 1;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.house-image {
    width: 100%;
    min-width: 300px; /* Set a minimum width to avoid shrinking too much */
    height: auto;
    border-radius: 8px;
}

.info-button {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.details-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #d2a679;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

@media (max-width: 1024px) {
    .hero-text h1 {
        font-size: 2.5rem;
    }

    .hero-text p {
        font-size: 1rem;
    }

    .info-section {
        margin: 2rem 1rem;
    }
}

@media (max-width: 768px) {
    .info-section, .info-section-reverse {
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }
    .info-section h2, .info-section-reverse h2 {
        font-size: 2rem;
    }
    .info-section-reverse {
        flex-direction: column-reverse;
    }

    .info-image {
        width: 100%; /* Ensure the image takes full width */
    }

    .info-button {
        margin-top: 20px;
        width: 100%; /* Ensure the button takes full width */
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 768px) {
    .info-section, .info-section-reverse {
        flex-direction: row;
        font-size: 1.5rem;
        line-height: 140%;
    }
    .info-section h2, .info-section-reverse h2 {
        font-size: 3rem;
    }

    .info-image {
        flex: 1;
        max-width: 50%;
    }

    .info-text {
        flex: 1;
    }

}

@media (min-width: 768px) and (max-width: 1536px) {
    .info-section, .info-section-reverse {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        margin: 3rem 5rem; /* Adjust margin for better spacing */
    }

    .info-text {
        flex: 1;
        padding-right: 1rem;
    }

    .info-image {
        flex: 1;
        max-width: 50%;
    }

    .info-button {
        align-self: center;
        margin-top: 20px;
    }

}
@media (min-width: 768px) and (max-width: 1024px){
    .info-section h2, .info-section-reverse h2 {
        font-size: 2rem;
    }

    .info-section, .info-section-reverse {
        flex-direction: row;
        font-size: 1.2rem;
        line-height: 140%;
    }
    .info-image {
        flex: 1;
        max-width: 50%;
    }

    .info-text {
        flex: 1;
    }


}
