.banner-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 40vh; /* Set the height relative to the viewport */
}

.banner-image {
    width: 100%;
    height: 100%;

}

.banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    /*background-color: rgba(0, 0, 0, 0.5);*/
    padding: 1rem;
    border-radius: 10px;
    font-family: 'Seasons', serif;
    z-index: 2;
}
.banner-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* Overlay color with opacity */
    z-index: 1;
}

.banner-content h1 {
    margin: 0;
    font-size: 3.5rem;
}

.banner-content p {
    margin: 0.5rem 0 0;
    font-size: 1.8rem;
}

@media (max-width: 767px) {
    .banner-content h1 {
        font-size: 2rem;
    }

    .banner-content p {
        font-size: 1rem;
    }

    .banner-container {
        height: 30vh; /* Adjust the height for smaller screens */
    }
}
