.banner-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 55vh; /* Set the height relative to the viewport */
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the container without stretching */
}

.banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    /*background-color: rgba(0, 0, 0, 0.5);*/
    padding: 0;
    border-radius: 10px;
    font-family: 'Seasons', serif;
    font-size: 2rem;
    z-index: 2;
    font-weight: 400;

}

.banner-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* Overlay color with opacity */
    z-index: 1;
}

.banner-content h1 {
    margin: 0;
    font-size: 3.5rem;
    color: #ffffff;
}

.banner-content p {
    margin: 0.5rem 0 0;
    font-size: 1.5rem;
    line-height: 2rem;
}

.favourites-map-image {
    width: 100%;
    margin-top: 1rem;
    display: block;
    height: 60%;
}
.basic-image{
    width: 100%;
}

@media (max-width: 767px) {
    .banner-content h1 {
        font-size: 2rem;
        line-height: 1.8rem;

    }

    .banner-content p {
        font-size: 1rem;
        line-height: 1.2rem;
    }

    .banner-container {
        height: 30vh; /* Adjust the height for smaller screens */
    }
}


.content-full-image {
    width: 100%;
    padding: 0 00px 0 100px;
}

.image-gallery {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 2vw 0;
}

.gallery-image {
    width: 32%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.winery-logo {
    flex: 1;
    max-width: 150px;
    margin-right: 20px;
}

.winery-logo img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}


@media (max-width: 768px) {
    .image-gallery {
        flex-direction: row;
        align-items: center;
        margin-top: 20px;
        padding: 2vw 0;
    }

    .gallery-image {
        width: 32%;
        height: auto;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .winery {
        flex-direction: column;
        align-items: center;
    }

    .winery-logo {
        max-width: 100px;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .winery-content {
        text-align: center;
    }
    .basic-image{
        padding-bottom: 1rem;

    }
}