@import './base.css';
@import './dropdowns.css';
@import './navigation-header.css';
@import "icons.css";
@import "images.css";
#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  z-index: 1000;
}

main {
  flex: 1; /* This will allow the main content to grow and take available space */
  width: 100%;
  overflow: auto;

}
