@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
}

@media (min-width: 1024px) {
  body {
    margin: 0;
  }

  #app {
    max-width: 1280px;
    margin: 0 auto;
    font-weight: normal;
  }
}
.navigation-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

main {
  padding-top: 60px; /* Adjust this value based on your header height */
}