@import './base.css';
@import './dropdowns.css';
@import './navigation-header.css';
@import "icons.css";

#app {
  margin: 0 auto;
  font-weight: normal;
}


main {
  padding-top: 60px; /* Adjust this value based on your header height */
}