.container-maps {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 9rem 3rem;
    margin: 2rem auto;
}

iframe {
    margin: 3rem 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
}

.desktop-map {
    display: block;
}

.mobile-map {
    display: none;
}
.tablet-map{
    display: none;
}

@media (max-width: 768px) {
    .desktop-map {
        display: none;
    }

    .mobile-map {
        display: block;
    }
    .container-maps {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        margin: 2rem 1rem 1rem 1rem;
    }
}
@media (min-width: 769px) and (max-width: 1024px) {
    .desktop-map {
        display: none;
    }
    .mobile-map {
        display: none;
    }
    .tablet-map {
        display: block;
    }
}