iframe {
    margin: 3rem 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
}

.desktop-map {
    display: block;
}

.mobile-map {
    display: none;
}
.tablet-map{
    display: none;
}

@media (max-width: 768px) {
    .desktop-map {
        display: none;
    }

    .mobile-map {
        display: block;
    }
}
@media(max-width: 1024px) {
    .desktop-map {
        display: none;
    }
    .tablet-map {
        display: block;
    }
}