@media (max-width: 1024px) {
    .text-image-wrapper {
        flex-direction: column;
        width: 100%;
    }

    .text-content, .content-image {
        width: 100%;
    }
    .container{
        padding: 10px;
        margin: 2rem 1rem 1rem 1rem;
    }

    .room-container, .reverse-layout {
        flex-direction: column; /* Stacks the items vertically */
    }

    .room-content,
    .room-image {
        max-width: 100%;
        margin: 0;
        order: initial; /* Reset order for mobile view */
    }

    .room-content {
        margin-bottom: 20px;
    }
    .room-content h2{
        font-size: 40px;
    }
    .room-image img {
        width: 100%;
        height: auto;
        border-radius: 8px;
    }

    .room-content ul {
        list-style-type: disc; /* Ensures bullet points are shown */
        padding-left: 20px; /* Adds some padding to the left */
    }


    .winery-content a {
        display: inline-block;
        margin-top: 2rem;
        margin-bottom: 2rem;
        padding: 10px 15px;
        background-color: #d2a679;
        color: white;
        text-decoration: none;
        border-radius: 5px;
    }


    .winery-content a:hover {
        background-color: #b8935b;
    }
    .winery {
        flex-wrap: wrap;
    }

    .winery-logo {
        margin-right: 0;
        margin-bottom: 10px;
        max-width: 100%;
    }

    .winery-content {
        text-align: center;
        flex: 1 0 100%;
    }
    .winery-content h3 {
        display: none;
    }

    .booking-info a {
        display: inline-block;
        margin-top: 10px;
        padding: 10px 15px;
        background-color: #d2a679;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .booking-info a:hover {
        background-color: #b8935b;
    }
    .booking-info {
        text-align: center;
        margin: 40px 0;
        font-size: 1.2em;
    }
    .booking-policies p {
        margin-bottom: 4rem;
    }
    .booking-policies ul {
        margin-bottom: 2.5rem;
        padding-left: 20px;
    }

    .booking-policies ul li {
        margin-bottom: 1rem;
        list-style: disc;
    }
    .booking-policies ul li::marker {
        color: #d2a679; /* Change this to your desired bullet color */
        font-size: 1.2em; /* Adjust the size if necessary */
    }
    .booking-policies h3{
        font-size: 30px;
    }
    .house-location ul li::marker{
        color: #d2a679; /* Change this to your desired bullet color */
        font-size: 1.2em; /* Adjust the size if necessary */
    }
    .house-location ul {
        padding-left: 20px;
    }
    .container-maps {
        padding: 10px;
        margin: 2rem 1rem 1rem 1rem;
    }
    .transportation-option ul li::marker{
        color: #d2a679; /* Change this to your desired bullet color */
        font-size: 1.2em; /* Adjust the size if necessary */
    }
    .transportation-option h4{
        margin-top: 2rem;
    }
    .transportation-option ul {
        list-style-type: disc;
        padding-left: 20px;
    }
    .container h3{
        text-align: center;
        margin-bottom: 3rem;
        font-family: "Baskerville Old Face", serif;
    }

}
