@media (max-width: 1024px) {
    .text-image-wrapper {
        flex-direction: column;
        width: 100%;
    }

    .text-content, .content-image {
        width: 100%;
    }
    .container{
        padding: 10px;
    }

    .room-container, .reverse-layout {
        flex-direction: column; /* Stacks the items vertically */
    }

    .room-content,
    .room-image {
        max-width: 100%;
        margin: 0;
        order: initial; /* Reset order for mobile view */
    }

    .room-content {
        margin-bottom: 20px;
    }

    .room-image img {
        width: 100%;
        height: auto;
        border-radius: 8px;
    }

    .room-content ul {
        list-style-type: disc; /* Ensures bullet points are shown */
        padding-left: 20px; /* Adds some padding to the left */
    }


    .winery-content a {
        display: inline-block;
        margin-top: 2rem;
        margin-bottom: 2rem;
        padding: 10px 15px;
        background-color: #d2a679;
        color: white;
        text-decoration: none;
        border-radius: 5px;
    }


    .winery-content a:hover {
        background-color: #b8935b;
    }
    .winery {
        flex-wrap: wrap;
    }

    .winery-logo {
        margin-right: 0;
        margin-bottom: 10px;
        max-width: 100%;
    }

    .winery-content {
        text-align: center;
        flex: 1 0 100%;
    }
    .winery-content h3 {
        display: none;
    }


}
