@media (max-width: 1024px) {
    .text-image-wrapper {
        flex-direction: column;
        width: 100%;
    }

    .text-content, .content-image {
        width: 100%;
    }

    .container {
        padding: 10px;
        margin: 2rem 1rem 1rem 1rem;
    }

    .room-container, .reverse-layout {
        flex-direction: column; /* Stacks the items vertically */
    }

    .room-content,
    .room-image {
        max-width: 100%;
        margin: 0;
        order: initial; /* Reset order for mobile view */
    }

    .room-content {
        margin-bottom: 20px;
    }

    .room-content h2 {
        font-size: 40px;
    }

    .room-image img {
        width: 100%;
        height: auto;
        border-radius: 8px;
    }

    .room-content ul {
        list-style-type: disc; /* Ensures bullet points are shown */
        padding-left: 20px; /* Adds some padding to the left */
    }


    .winery-content a {
        display: inline-block;
        margin-top: 2rem;
        margin-bottom: 2rem;
        padding: 10px 15px;
        background-color: #d2a679;
        color: white;
        text-decoration: none;
        border-radius: 5px;
    }


    .winery-content a:hover {
        background-color: #b8935b;
    }

    .winery {
        flex-wrap: wrap;
    }

    .winery-logo {
        margin-right: 0;
        margin-bottom: 10px;
        max-width: 100%;
    }

    .winery-content {
        text-align: center;
        flex: 1 0 100%;
    }

    .winery-content h3 {
        display: none;
    }

    .booking-info a {
        display: inline-block;
        margin-top: 10px;
        padding: 10px 15px;
        background-color: #d2a679;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .booking-info a:hover {
        background-color: #b8935b;
    }

    .booking-info {
        text-align: center;
        margin: 40px 0;
        font-size: 1.2em;
    }

    .booking-policies p {
        margin-bottom: 4rem;
    }

    .booking-policies ul {
        margin-bottom: 2.5rem;
        padding-left: 20px;
    }

    .booking-policies ul li {
        margin-bottom: 1rem;
        list-style: disc;
    }

    .booking-policies ul li::marker {
        color: #d2a679; /* Change this to your desired bullet color */
        font-size: 1.2em; /* Adjust the size if necessary */
    }

    .booking-policies h3 {
        font-size: 30px;
    }

    .house-location ul li::marker {
        color: #d2a679; /* Change this to your desired bullet color */
        font-size: 1.2em; /* Adjust the size if necessary */
    }

    .house-location ul {
        padding-left: 20px;
    }



    .transportation-option ul li::marker {
        color: #d2a679; /* Change this to your desired bullet color */
        font-size: 1.2em; /* Adjust the size if necessary */
    }

    .transportation-option h4 {
        margin-top: 2rem;
    }

    .transportation-option ul {
        list-style-type: disc;
        padding-left: 20px;
    }

    .text-content h3 {
        text-align: center;
        margin: 1rem 0;
        font-family: "Baskerville Old Face", serif;
    }

    .favourites-list {
        list-style: none;
        padding: 0;
    }

    .favourites-list li {
        margin: 1rem 0;
        text-align: left;
    }

    .favourites-list h3 {
        font-size: 1.25rem;
        text-align: left;
        margin-bottom: 1rem;
    }

    .favourites-list p {
        margin: 0;
        color: #666;
    }

    .page-heading {
        text-align: center;
    }

    .intro-section,
    .list-section {
        margin: 2rem 0;
        text-align: center;
    }

    .list-section h3 {
        margin-bottom: 1rem;
    }

    .favourites-map-image {
        width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }

    .map-container {
        position: relative;
    }

    .map-number {
        position: absolute;
        width: 4vw;
        height: 4vw;
        background-color: #49d8dc; /* Solid white background */
        border-radius: 50%;
        text-align: center;
        line-height: 4vw;
        cursor: pointer;
        border: 1px solid #000; /* Optional: Add a border for better visibility */
        transform: translate(-50%, -50%);
        font-size: 9px;
        font-weight: bold;
    }

    .map-number:nth-of-type(1) {
        top: 33%;
        left: 10%;
    }

    .map-number:nth-of-type(2) {
        top: 42%;
        left: 18%;
    }

    .map-number:nth-of-type(3) {
        top: 47%;
        left: 23%;
    }

    .map-number:nth-of-type(4) {
        top: 34.5%;
        left: 35.5%;
    }

    .map-number:nth-of-type(5) {
        top: 35.5%;
        left: 49.5%;
    }

    .map-number:nth-of-type(6) {
        top: 23%;
        left: 58.5%;
    }

    .map-number:nth-of-type(7) {
        top: 27%;
        left: 57%;
    }

    .map-number:nth-of-type(8) {
        top: 29%;
        left: 60%;
    }

    .map-number:nth-of-type(9) {
        top: 39.5%;
        left: 67.5%;
    }

    .map-number:nth-of-type(10) {
        top: 56%;
        left: 69%;
    }

    .map-number:nth-of-type(11) {
        top: 50.5%;
        left: 85%;
    }

    .map-number:nth-of-type(12) {
        top: 56%;
        left: 85.5%;
    }

    .intro-section-lake,
    .activities-section {
        margin: 2rem 0;
        text-align: left;
    }

    .activity {
        margin-bottom: 1.5rem;
    }

    .activity h4 {
        margin-bottom: 1rem;
    }

    .hint-section h5 {
        text-align: center;
        padding: 0;
        margin: 0 0 1rem;
        font-size: 1rem;
    }

    .title h2 {
        text-align: center;
    }

    .intro-section-lake h3 {
        text-align: center;
    }
    .gallery-container h2{
        font-size: 2rem;
    }

}
