@media (max-width: 1024px) {
    .text-image-wrapper {
        flex-direction: column;
        width: 100%;
    }

    .text-content, .content-image {
        width: 100%;
    }
    .container{
        padding: 10px;
    }

    .room-container, .reverse-layout {
        flex-direction: column; /* Stacks the items vertically */
    }

    .room-content,
    .room-image {
        max-width: 100%;
        margin: 0;
        order: initial; /* Reset order for mobile view */
    }

    .room-content {
        margin-bottom: 20px;
    }

    .room-image img {
        width: 100%;
        height: auto;
        border-radius: 8px;
    }

    .room-content ul {
        list-style-type: disc; /* Ensures bullet points are shown */
        padding-left: 20px; /* Adds some padding to the left */
    }


}
