.navigation-header {
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.navigation-header-mobile {
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.navigation-content {
    margin-top: 1rem;
}
.language-selector select {
    display: flex;
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    padding: 0.5rem;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin-left: 1rem;
    position: relative;
}
