/* Common header styles */
.navigation-header,
.navigation-header-mobile {
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #d5e4dd;
    display: flex;
    align-items: center;
    padding: 0.6rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    font-size: 20px;
    font-family: "Baskerville Old Face", Serif, serif;
}

/* Container for logo, navigation, and language selector */
.logo-container, .nav-container, .language-selector-container {
    display: flex;
    align-items: center;
}

/* Specific container alignments */
.logo-container {
    justify-content: flex-start;
}

.nav-container {
    justify-content: center;
    flex: 1;
}

.language-selector-container {
    justify-content: flex-end;
}

/* Language selector */
.language-selector {
    display: flex;
    align-items: center;
}

.language-selector select {
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    padding: 0.5rem;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.language-selector-mobile {
    cursor: pointer;
    padding: 12px 16px;
}

/* Navigation list */
nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 2rem; /* Add gap between items */
}

nav li {
    position: relative;
}

/* Override link colors */
nav a {
    color: #000; /* Change to desired color */
    text-decoration: none;
}

nav a:visited {
    color: #000; /* Change to desired color */
}

/* Desktop-specific dropdown content styles */
.navigation-header .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
}

.navigation-header .dropdown:hover .dropdown-content {
    display: block;
}

.navigation-header .logo-container img.logo-image {
    height: 4rem; /* Adjust to your exact logo height */
    width: auto;
    max-width: 12rem; /* Maintain max-width */
}

a:-webkit-any-link {
    color: inherit;
    text-decoration: none;
}

@media (max-width: 1024px) {
    .navigation-header {
        display: none;
    }

    .navigation-header-mobile {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
        gap: 0.5rem; /* Adjust gap for smaller screens */
    }

    nav li {
        padding-left: 1rem;
        padding-right: 1rem;
        width: 100%;
    }

    .language-selector {
        margin-top: 1rem;
        align-self: flex-end;
    }

    /* Mobile-specific dropdown content styles */
    .navigation-header-mobile .dropdown-content {
        display: block;
        position: absolute;
        width: 100%;
        left: 0;
        transform: none; /* Reset transform for mobile */
        padding: 0;
        z-index: 1000; /* Ensure it appears above other content */
        top: 100%; /* Position it below the header */
    }

    .navigation-header-mobile .dropdown-subcontent {
        display: none;
        padding-left: 1rem;
    }

    details[open] > .dropdown-subcontent {
        display: block;
    }

    /* Remove the dropdown arrow for mobile view */
    .dropdown-content::before {
        display: none;
    }

    .logo-container img {
        max-height: 4rem; /* Adjust as needed for smaller mobile screens */
        width: auto;
        object-fit: contain;
    }
}

@media (max-width: 767px) {
    .navigation-header {
        display: none;
    }

    .navigation-header-mobile {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
        gap: 0.5rem; /* Adjust gap for smaller screens */
    }

    nav li {
        padding-left: 1rem;
        padding-right: 1rem;
        width: 100%;
    }

    .logo-container img {
        max-height: 30px; /* Adjust as needed for smaller mobile screens */
        width: auto;
        object-fit: contain;
    }
}

/* Hide the default arrow for all browsers */
details summary {
    list-style: none;
    outline: none;
    cursor: pointer;
}

/* Remove default arrow in Webkit browsers (Chrome, Safari) */
details summary::-webkit-details-marker {
    display: none;
}

/* Remove default arrow in Firefox */
details summary::marker {
    display: none;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
}
