/* Common header styles */
.navigation-header,
.navigation-header-mobile {
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #d5e4dd;
    display: flex;
    align-items: center;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    font-size: 25px;
    font-family: "Baskerville Old Face", Serif, serif;
}

/* Desktop-specific navigation header */
.navigation-header {
    justify-content: space-between;
}

/* Mobile-specific navigation header */
.navigation-header-mobile {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

/* Navigation container */
.nav-container {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

/* Language selector */
.language-selector {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.language-selector select {
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    padding: 0.5rem;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.language-selector-mobile {
    cursor: pointer;
    padding: 12px 16px;
}

/* Navigation list */
nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    gap: 1rem; /* Add gap between items */
}

nav li {
    position: relative;
}

/* Dropdown button styles */
.dropdown-button {
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}

/* Common dropdown content styles */
.dropdown-content {
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 100%;
    position: absolute;
    padding: 0;
    border-radius: 10px;
}

/* Desktop-specific dropdown content styles */
.navigation-header .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
}

.navigation-header .dropdown:hover .dropdown-content {
    display: block;
}

/* List styles for dropdown content */
.dropdown-content li {
    padding: 12px 16px;
    list-style: none;
    border-bottom: 1px solid #9a8888;
}

.dropdown-content li:last-child {
    border-bottom: none;
}

.dropdown-content li a {
    text-decoration: none;
    color: #333;
}

.dropdown-content li:hover {
    background-color: #f1f1f1;
}

/* Subcontent for nested dropdowns */
.dropdown-subcontent {
    display: none;
    padding-left: 1rem;
}

details summary {
    cursor: pointer;
}

details[open] > .dropdown-subcontent {
    display: block;
}

/* Mobile-specific dropdown content styles */
.navigation-header-mobile .dropdown-content {
    display: block;
}

.navigation-header-mobile .dropdown-subcontent {
    display: none;
    padding-left: 1rem;
}

details[open] > .dropdown-subcontent {
    display: block;
}

/* Media queries for responsive design */
@media (max-width: 1024px) {
    .navigation-header {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
        gap: 0.5rem; /* Adjust gap for smaller screens */
    }

    nav li {
        padding-left: 1rem;
        padding-right: 1rem;
        width: 100%;
    }

    .language-selector {
        margin-top: 1rem;
        align-self: flex-end;
    }
}

@media (max-width: 767px) {
    .navigation-header {
        display: none;
    }

    .navigation-header-mobile {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
        gap: 0.5rem; /* Adjust gap for smaller screens */
    }

    nav li {
        padding-left: 1rem;
        padding-right: 1rem;
        width: 100%;
    }
}

/* Hide the default arrow for all browsers */
details summary {
    list-style: none;
    outline: none;
    cursor: pointer;
}

/* Remove default arrow in Webkit browsers (Chrome, Safari) */
details summary::-webkit-details-marker {
    display: none;
}

/* Remove default arrow in Firefox */
details summary::marker {
    display: none;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
}
