

.floor-plan {

    display: flex;
    flex-direction: column;
    margin-top: 1vw;
}

.image-container {
    position: relative;
    width: 100%;

}

.layout-image {
    width: 100%;
    height: auto;
    align-items: center;
}

.floor-plan h4 {
    margin-bottom: 1vw;
    align-self: flex-start;
}
.floor-info h4{
    margin-top: 3rem;
}
@media (max-width: 1024px) {

}
