table {
    width: 100%;
    margin: 0;
    border-collapse: collapse;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    table-layout: fixed; /* Ensures equal column width */
}

th, td {
    padding: 15px;
    text-align: center; /* Align text to the left */
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
    font-weight: bold;
}

tr:hover {
    background-color: #f9f9f9;
}

.pricing-section {
    margin: 6rem 0;
}

.pricing-section h3 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2.5rem;
}
.note {
    font-size: 0.8em;
    color: #838080;
}
@media (max-width: 1024px) {
    .pricing-section {
        margin: 4rem 0;
    }
}